librosa
pyyaml
fairseq
rich
vector_quantize_pytorch
accelerate
local_attention
tensorboardX
tensorboard
ffmpeg-python
cn2an
pypinyin
jieba
pyopenjtalk
matplotlib
pynvml
transformers
ninja
g2p_en